@tailwind base;
@tailwind components;
@tailwind utilities;

.navigation ul li.active a .icon {
    transform: translateY(-35px);
}


.navigation ul li.active a .text {
    opacity: 1;   
    transform: translateY(10px);
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translatex(calc(4.5rem * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translatex(calc(4.4rem * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translatex(calc(4.4rem * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translatex(calc(4.4rem * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translatex(calc(4.4rem * 4));
}